.nav-menu {
  text-align: center;
}
.button {
  margin: auto 25px;
}
.link {
  text-decoration: none;
}
.main-content {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fafafa;
}
.social-media-logo {
  float: right;
  height: 100px;
}
.html-main-content {
  width: 700px;
}
.large-text {
  margin-bottom: 50px;
  font-style: italic;
  font-size: 22px;
  text-align: center;
}
table {
  margin-bottom: 100px;
}
img {
  display: block;
  margin: 0 auto;
}
span {
  color: red;
}
